@model DDAC2.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Title</h2>

<div>

    <h4>Post</h4>
    <hr />
    <img src="@ViewBag.ImgUri" />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublishedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublishedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EditedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EditedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tag)
        </dd>
    </dl>

    <div id="markdown-content" onchange="convert();">
        @Html.DisplayFor(model => model.Content)
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
