@page
@model IEnumerable<DDAC2.Models.Post>

@{ 
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form>
    <p>
        Post Name: <input type="text" name="SearchString" />
        <br />
        <br />
        Post type: <!--<input type="text" name="FlowerType" />-->
        @Html.DropDownList("PostTag", "Select a Value")
        <input type="submit" value="Search" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tag)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Post item in ViewBag.Posts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="hide-text">
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EditedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tag)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
