@model DDAC2.Models.Comment

@{
    ViewBag.Title = "Details";
}

<div class="container blog-container" style="background-image: url('@ViewBag.ImgUri')">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
                <h1>@ViewBag.post.Title</h1>
                <h2 class="subheading">@ViewBag.post.Tag</h2>
                <span class="meta">
                    Posted on @ViewBag.post.PublishedDate
                </span>
            </div>
        </div>
    </div>
</div>

<div class="container">
    @Html.Raw(ViewBag.post.Content)
</div>

<div class="container">
    <div class="card">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" hidden>
                    <label asp-for="AuthorId" class="control-label"></label>
                    <input asp-for="AuthorId" class="form-control" value="@ViewBag.Username" />
                    <span asp-validation-for="AuthorId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <textarea asp-for="Content" class="form-control"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="PostId" class="control-label"></label>
                    <input asp-for="PostId" class="form-control" value="@ViewBag.Post.ID" />
                    <span asp-validation-for="PostId" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary" value="Comment">Submit</button>
            </form>
        </div>
    </div>

    @if (ViewBag.Comments.Count > 0)
    {
        @foreach (Comment item in ViewBag.Comments)
        {
            <div class="media">
                <img class="d-flex mr-3 rounded-circle" style="float:left;" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">
                        <strong>
                            @Html.DisplayFor(modelItem => item.AuthorId)
                        </strong>
                        <span>
                            on @Html.DisplayFor(modelItem => item.PublishedDate)
                        </span>
                    </h5>
                    @Html.DisplayFor(modelItem => item.Content)
                </div>
            </div>
        }
    }
    else
    {
        <p>
            There is no comment yet.
        </p>
    }
</div>

<br />
<br />
<br />
<br />

<div>
    <a asp-action="Index">Back to List</a>
</div>