@page
@model IEnumerable<DDAC2.Models.Post>
@{
    ViewBag.Title = "Blog";
}
<h2>@ViewBag.Title</h2>

<div class="row mb-2">
    @foreach (Post item in ViewBag.Posts)
    {
        <a class="text-dark" asp-action="Detail" asp-route-id="@item.ID">
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <h3 class="mb-0">
                            <strong>
                                @Html.DisplayFor(modelItem => item.Title)
                            </strong>
                        </h3>
                        <div class="mb-1 text-muted">@Html.DisplayFor(modelItem => item.PublishedDate)</div>
                        <p class="card-text mb-auto">@Html.DisplayFor(modelItem => item.Content)</p>
                    </div>
                </div>
            </div>
        </a>
    }

</div>