@page
@model IEnumerable<DDAC2.Models.Post>
@{
    ViewBag.Title = "Index";
}
<h2>@ViewBag.Title</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tag)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Post item in ViewBag.Posts)
        {
            <tr>
                <td>
                    <a asp-action="Detail" asp-route-id="@item.ID">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EditedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tag)
                </td>
            </tr>
        }
    </tbody>
</table>